.about-us {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1%; /* Adjust as needed */
  width: 74%;
  height: auto;
  
  margin-left: 1%;
  margin-bottom: 1%;
  background-color: white;
  margin-top: 15%;
}