.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
} 

.search-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
}

.search-select {
  width: 150px;
  height: 40px;
  font-size: 16px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.search-input {
  width: 400px;
  height: 40px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.search-submit-btn {
  width: 150px;
  height: 40px;
  font-size: 16px;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 20px;
  cursor: pointer;
  justify-content: flex-end;
  align-items: right;
} 
